@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian&display=swap');
:root{
    --themered: #e43a47;
    --gray: #efefef;
    --complem: #E817E1;
}
button,
body{
    font-family: 'Noto Serif Georgian', serif;
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p
{
       font-size: 16px;
       line-height: 26px;
}
.fullcontainer
{
    widows: 100%;
}
.container
{
    width: 1140px;
    margin: auto;
}

.container button:hover
{
    width: 125px;
    border-color: var(--themered);
    height: 40px;
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #ccc;   
}

header
{
        width: 100%;
        background-color: rgba(0,0,0,0.6);
        position: fixed;
        z-index: 2;
        height: 80px;
}
header .container{
    display: flex;
    justify-content: space-between;
}

header .container .logo{
    padding: 15px 1;
    height: 80px;
}

header .container .logo img{
    height: 200%;
    margin-top: -24px;
    margin-left: -150px;

}

header nav ul
{
    list-style-type: none;
}

header nav ul li
{
    display: inline-block;
}

header nav ul li a{
    display: inline-block;
    height: 75px;
    line-height: 75px;
    padding: 0 15px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    color: #fff;
    transition: 0.3s;
}



header nav ul li a:hover
{
    background-color: var(--themered);
    color: white;
    text-decoration: none;
}
.banner
{
 min-height: 100vh;
 width: 100%;
 background-image: url("../images/slider-1.jpg");
 background-size: cover;
 background-attachment: fixed;   
}
.banner h1{
    margin-top: 230px;
    display: inline-block;
    font-size: 3.5rem;
    color: #cfcdc9;
    text-shadow: 0 0 2px #000;
    width: 50%;
    line-height: 4.2rem;
    font-weight: 90;
}
.banner h1 span
{
    background-color: var(--themered);
    display: inline-block;
    line-height: 3.5rem;
    padding: 0 15px;
    font-weight: 500;
    border-radius: 5px;
}
.banner p
{
    color: #cfcdc9;
    width: 50%;
    text-shadow: 0 0 2px #000;
    margin-top: 20px;
}

.banner button
{
    background-color: var(--themered);
    border: 1px ;
    outline: none;
    color: #fff;
    padding: 10px 15px;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 3px;
    font-weight: 500;
    transition: 0.4s;
}

/*.don-sec h1
{
    
    color:#fff;
    margin-left : 455px;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    white-space: nowrap;
}
.don-sec h2
{
    
    color:#fff;
    margin-left : 560px;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    white-space: nowrap;
}*/

.don-sec h1
{
    color: #fff;
}

.wrapper-text
{
    color: #fff;
    text-align: center;
    font-size: 80px;
    line-height: 55px;
    letter-spacing: 5px;
    margin-bottom: 180px;
    padding: 3rem 2rem;
    animation: ani2 0.5s ease-out forwards;
    overflow: hidden;
}

.wrapper-text h1,
.wrapper-text h2
{
    opacity: 0;
    margin: 0;
    margin-top: 100px;
    font-size: 100px;
}

.wrapper-text h1
{
    animation: ani2 1.5s ease-in 2s forwards;
    line-height: -100px;
}

.wrapper-text h2
{
    animation: ani2 1s ease-in 4s forwards;
}

@keyframes ani2 {
    100%
    {
        opacity: 1;
    }
}

@keyframes ani1{
    100%
    {
        transform:scale(1.55);
    }
}
.donation
{
    background-color: #e6edff;
}
.title
{
    width: 300px;
    border-bottom: 3px solid var(--themered);
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    margin: 0 auto 50px;
    position: relative;
    padding: 10px 0;
    text-transform: uppercase;
}

.title::after
{
        display: inline-block;
        content: "";
        height: 15px;
        width: 15px;
        background-color: var(--themered);
        position: absolute;
        left: calc(50% - 10px);
        top: calc(75% - 4px);
        transform: rotate(45deg) translate(50%, 50%);
        border: 3px solid #fff;
}
section
{
        padding: 100px;
        position: relative;
}

.title p
{
    text-align: justify;
}

.heading h2
{
    font-size: 28px;
    font-weight: 500;
    border-left: 8px solid #303054;
    padding: 5px 15px;
    margin-bottom: 15px;
}

.heading p{
    font-size: 18px;
}
.heading p span{
    font-weight: 600;
    color: #303054;
}
.donation .don-box{
    margin: 50px 0;
    background-color: #fff;
    padding: 50px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 0 15px #b4afaf;
    transition: all 1s;
}

.donation .don-box img{
    width: 70px;
    transition: all 1s;
    border-radius: 15px;
}

.donation .don-box h3{
    margin: 15px 0 10px;
}

.donation .don-box p{
    margin-bottom: 25px;
}

.donation .don-box:hover img{
    transform: scale(1.1);
}

.btn1{
    font-size: 1rem;
    font-weight: 400;
    background-color: #303054;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none !important;
    transition: all 0.5s;
}
.btn1:hover{
    background-color: #e6edff;
    color: #303054;
}
