@tailwind base;
@tailwind components;

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

@tailwind utilities;


@font-face {
    font-family: "rockford";
    src: url("../public/fonts/rockford_sans/RockfordSans-Light.otf");
}

@font-face {
    font-family: "clemente";
    src: url("../public/fonts/clemente_pd/ClementePDai-Regular.ttf");
}

@font-face {
    font-family: "gogh";
    src: url("../public/fonts/Gogh.otf");
}

@font-face {
    font-family: "elegance";
    src: url("../public/fonts/rounded-elegance.ttf");
}

.FancyTextLink {
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: 500;
    color: white;
    transition: all 0.3s ease 0s;

}

.FancyTextLink:hover {
    color: #FFD046;
    transform: translateY(-7px);
}

.FancyTextLink:active {
    transform: translateY(-1px);
}

.FancyButton {

    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-align: center;
}

.FancyButton:hover {
    background-color: #23c483;
    box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.FancyButton:active {
    transform: translateY(-1px);
}

.FancyInput {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.FancyInput:focus, input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
}

.FancyInput::placeholder {
    color: #777;
}

.FancyInput:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}


.FancyCard {
    width: 33rem;
    height: 20rem;
    border-radius: 1em;
    padding: 1.9rem;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: border 0.5s ease-out;
    box-shadow: 0 7px 20px rgba(43, 8, 37, 0.2);
}

.FancyCard:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 2;
    transition: 0.5s;
}

.FancyCardText {
    position: relative;
    z-index: 3;
    color: darkgray;
    opacity: 0;
    transform: translateY(20%);
    transition: 0.5s;
}

/*Image*/
.FancyCardImage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ee9ca7;
    background: linear-gradient(to bottom, #e7aeae, #ee9ca7);
}

/*Hover*/
.FancyCard:hover {
    transform: translateY(5%);
    border: #f7cf68 0.2em solid;

}

/*.FancyCard:hover:before {*/
/*    opacity: 1;*/
/*}*/

.FancyCard:hover .FancyCardText {
    opacity: 1;
    transform: translateY(0);
}
